<!doctype html>
<html lang="en">

<head>
  <title>captainshou.com</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/styles/main.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="app">
    <div class="container">
      <img src="/img/logo.jpg" alt="nlogo" />
      <p>
        <br />
        shou
        <br />
        -----------------
        <br />
        stack: java core, selenide, spring boot
        <br />
        tools: html/css, git, linux, allure report
        <br />
        coding enthusiast
        <br />
        exploring the world of software
        <br />
        working towards mastering full stack qa & backend
        <br />
        always striving to improve and grow
        <br />
        -----------------
        <br />
        text me in
        <a href="https://t.me/captainshou"> telegram</a>
        <br />
        look at my
        <a href="https://github.com/deloire"> github</a>
      </p>
    </div>
  </div>
  <script src="/script/main.js"></script>
</body>

</html>
