* {
  color: #fff;
}

body {
  background-color: #000;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

.container a {
  text-decoration: none;
  color: #e43958;
}

.container img {
  border-radius: 50%;
  width: 300px;
}

.container p {
  font-size: 22px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: left;
}
